section.ower-team
	.container
		.col-xs-6.history
			h1.title OUR TEAM
		.col-xs-2.line-team
			img.img-responsive(src="dist/images/line-team.png")
		.col-xs-12.our-team
			.col-xs-3.member-1
				.img-member
					img.img-responsive.member(src="dist/images/member1.png")
				.name
					a(href="#")
						h1.title-member Anthony Doe
				.position
					h2.title-jabatan CEO Founder
			.col-xs-3.member-2
				.img-member
					img.img-responsive.member(src="dist/images/member1.png")
				.name
					a(href="#")
						h1.title-member Anthony Doe
				.position
					h2.title-jabatan CEO Founder
			.col-xs-3.member-3
				.img-member
					img.img-responsive.member(src="dist/images/member1.png")
				.name
					a(href="#")
						h1.title-member Anthony Doe
				.position
					h2.title-jabatan CEO Founder
			.col-xs-3.member-4
				.img-member
					img.img-responsive.member(src="dist/images/member1.png")
				.name
					a(href="#")
						h1.title-member Anthony Doe
				.position
					h2.title-jabatan CEO Founder