section.proyek
	.container
		img.img-responsive.img-proyek(src="dist/images/pic-proyek.png")
		.content-proyek
			ul.list-unstyled.list-inline.list-link
				li
					img.img-responsive.line-team(src="dist/images/line-team.png")
				li
					a.active(href="#") ALL
				li
					a(href="#") Commercial Architect
				li
					a(href="#") Interior Desaign
				li
					a(href="#") Renovation
			.img-content.img-content1
				.row
					.col-xs-6.img
						.div.div3
							a(href="#")
								img.img-responsive.image(src="dist/images/img-proyek2.png")
								.overlay
									h2.title Hover effect 3
									p.content
										| Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
					.col-xs-6.img
						.div.div3
							a(href="#")
								img.img-responsive.image(src="dist/images/img-proyek2.png")
								.overlay
									h2.title Hover effect 3
									p.content
										Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			.img-content.img-content2
				.row
					.col-xs-6.img
						.div.div3
							a(href="#")
								img.img-responsive.image(src="dist/images/img-proyek3.png")
								.overlay
									h2.title Hover effect 3
									p.content
										Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					.col-xs-6.img
						.div.div3
							a(href="#")
								img.img-responsive.image(src="dist/images/img-proyek4.png")
								.overlay
									h2.title Hover effect 3
									p.content
										Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			.img-content.img-content3
				.row
					.col-xs-6.img
						.div.div3
							a(href="#")
								img.img-responsive.image(src="dist/images/img-proyek5.png")
								.overlay
									h2.title Hover effect 3
									p.content
										Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					.col-xs-6.img
						.div.div3
							a(href="#")
								img.img-responsive.image(src="dist/images/img-proyek6.png")
								.overlay
									h2.title Hover effect 3
									p.content
										Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			div.page-number
				ul.pagination
					li
						a(href="#")
							i.fa.fa-arrow-circle-o-left.fa-1x
					li
						a.active(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3
					li
						a(href="#") 4
					li
						a(href="#") 5
					li
						a(href="#")
							i.fa.fa-arrow-circle-o-right.fa-1x
