/*
	Notes
	- thin 100
	- light 300
	- reguler 400
	- semi-bold 600
	- bold 700
	- extra-bold 800
	- black 900
*/

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Glyphicons font path

//custimaze font:
$Raleway 	: 'Raleway', sans-serif;
$Montserrat : 'Montserrat', sans-serif;

// Colors
$brand-primary 		: #ffffff;
$second-primary 	: #c3371e;
$abu				: #9b9797;
$back-menu			: #e8e8e8;
$menu 				: #6b6b6b;
$back-search		: #c5bfbf;
$content			: #847f7f;
$line				: #e8e8e8;
$back-footer		: #000000;
$back-sidebar		: #f1f1f1;
$content-msg		: #4b4b4b;

