footer.footer-section
	.container
		section.menu-footer
			ul
				li
					a(href="#") Sitemap
				li
					a(href="index.html") Home
				li
					a(href="single-post.html") Regol
				li
					a(href="team.html") SDM
				li
					a(href="proyek.html") Proyek
				li
					a(href="kontak.html") Kontak
		section.socmed
			ul
				li
					a.icon-fb(href="#" target="_blank")
						i.fa.fa-facebook
				li
					a.icon-tw(href="#"  target="_blank")
						i.fa.fa-twitter
		section.copyright
			p loream ipsum is dummt content
script(type="text/javascript" src="dist/scripts/jquery.js")
script(type="text/javascript" src="dist/scripts/main.js")