section.message
	.container
		.msg.form-group
			.title
				.col-sm-3
					h1.label-title send us a message
				.col-sm-2
					img.img-responsive.line-team(src="dist/images/line-team.png")
			.data.col-xs-offset-1.clearfix
				ul.list-inline.list-unstyled.list-input-data.col-xs-12
					li.col-xs-4
						input.inputdata.form-control(type="text" placeholder="Name")
					li.col-xs-4
						input.inputdata.form-control(type="text" placeholder="Phone Number")
					li.col-xs-4
						input.inputdata.form-control(type="text" placeholder="Email")
				textarea.form-control(rows="5" id="coment" placeholder="Message")
				button.btn.btn-danger.btn-data.pull-right Submit