include home-slider.pug
include home-latest-proyek.pug
include home-content1.pug
include background-img.pug
include home-about.pug

.divider-footer
	.left-div
	.divider
	.right-div

include home-visi-misi.pug