section.latest-proyek
	.container
		.row
			ul.list-inline.list-unstyled.last-proyek
				li.col-xs-4.img-proyek
					img.img-responsive.img-cnt(src="dist/images/pic-content1.png")
				li.col-xs-4.img-proyek
					img.img-responsive.img-cnt(src="dist/images/pic-content1.png")
				li.col-xs-4.img-proyek
					img.img-responsive.img-cnt(src="dist/images/pic-content1.png")
